/node_modules
/public/hot
/public/storage
/storage/*.key
vendor/*
!vendor/cmgmyr/
!vendor/cmgmyr/*/
!vendor/cmgmyr/*/messenger/
!vendor/cmgmyr/*/messenger/*/
!vendor/cmgmyr/*/messenger/*/src/
!vendor/cmgmyr/*/messenger/*/src/*/
!vendor/cmgmyr/*/messenger/*/src/

!wp-content/plugins/
!wp-content/themes/


.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/workspace.xml
.idea/workspace.xml
.env
